.container {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 70px;
  padding: 0 240px;
  color: var(--textColor);
  background-color: var(--bg);
}

@media screen and (max-width: 1280px) {
  .credits {
    font-size: 14px;
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .credits {
    font-size: 12px;
    gap: 10px;
  }
  .container {
    padding: 24px 0px;
  }
}
